body {
    color: #1B1E1D;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    <style>
.animatedBox {
  width: 200px;
  text-align: center;
  font: 24px sans-serif;
  border: 1px solid yellowgreen;
  animation: myAnimation 1s ease 1s 3 alternate forwards;
}

@keyframes myAnimation {
  100% {
    border-bottom: 10px solid orange;
  }	
}
</style>
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #3A22D5;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #5E5887;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
